<!DOCTYPE html>
<html>
<head>
  <title>🌿 Plant Leaf Disease Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>🌿 Plant Leaf Disease Detection</h1>
    <form method="POST" enctype="multipart/form-data">
      <div class="upload-section">
          <label class="leaf_image">
              <input type="file" name="leaf_image" required>
              Upload Leaf Image
          </label>c
      </div>

      <div class="button-section">
        <button type="submit" name="model_type" value="ml">Predict using ML</button>
        <button type="submit" name="model_type" value="dl">Predict using CNN</button>
      </div>
  </form>

    {% if result %}
    <div class="result">
      <h2>{{ result }}</h2>
      <img src="{{ image_path }}" width="300">
    </div>
    {% endif %}
  </div>
</body>
</html>
